@font-face {
    font-family: 'EvolveSansBold';
    src: url('../font/made_evolve_sans_bold.woff2') format('woff2'),
         url('../font/made_evolve_sans_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansLight';
    src: url('../font/made_evolve_sans_light.woff2') format('woff2'),
         url('../font/made_evolve_sans_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansMedium';
    src: url('../font/made_evolve_sans_medium.woff2') format('woff2'),
         url('../font/made_evolve_sans_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansRegular';
    src: url('../font/made_evolve_sans_regular.woff2') format('woff2'),
         url('../font/made_evolve_sans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansThin';
    src: url('../font/made_evolve_sans_thin.woff2') format('woff2'),
         url('../font/made_evolve_sans_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg-main{ background-color: rgb(33, 33, 33); }
.bg-opaque{ background-color: rgba(43, 43, 43, 100); }
.text-opaque{ color: rgba(73, 73, 73, 100); }
.letter-spacing-1{ letter-spacing: 1px; }
.h-100{ height: 100px; }

.landing{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding-top: 41.5rem;
    background: url("../img/code.gif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
}

.code-tile{
    height: fit-content;
}
.code-tile p{font-family: EvolveSansRegular;}
.code-tile h1{font-family: EvolveSansLight;}

.scroll-down-bar{
    width: 15em;
    border-radius: 5px;
    background: rgba(200, 200, 200, 100);
    position: relative;
    top: 90%;
}

.copyright{ font-family: EvolveSansRegular; }
.copyright a{ text-decoration: none; }
.copyright a :hover{ color: white; transition-duration: 350ms; }

.view-button{
    border: 2px solid white;
    width: 8em;
    padding: 10px;
    letter-spacing: 4px;
    overflow: hidden;
}

.horz-line-footer{
    width: 15em;
    padding: 1px;
    background: white;
}

.dot-orange {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 145, 0);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
    align-items: center;
}
.dot-green {
    height: 10px;
    width: 10px;
    background-color: rgb(3, 228, 3);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
    align-items: center;
}
.dot-blue {
    height: 10px;
    width: 10px;
    background-color: rgb(0, 213, 255);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
    align-items: center;
}

.code-language{
    display: inline-block;
    font-family: EvolveSansLight;
    font-size: medium;
}

.logo-style{font-family: EvolveSansLight;}
.bg-orange{background-color: rgba(255, 166, 0, 0.719); color: rgba(0, 0, 0, 0);}

.navLink{font-family: EvolveSansLight; color: rgb(255, 255, 255);}

.border-none{border: none;}

.nav-link-style{font-family: EvolveSansLight; color: rgb(255, 255, 255);}

.text-opacity-0{color: rgba(0, 0, 0, 0);}

.tile-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.header-tile{
    font-family: EvolveSansLight;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
}

.flex-attributes{
    flex-direction: column;
    flex-wrap: wrap;
    
}