@font-face {
    font-family: 'EvolveSansBold';
    src: url('../fonts/made_evolve_sans_bold.woff2') format('woff2'),
         url('../fonts/made_evolve_sans_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansLight';
    src: url('../fonts/made_evolve_sans_light.woff2') format('woff2'),
         url('../fonts/made_evolve_sans_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansMedium';
    src: url('../fonts/made_evolve_sans_medium.woff2') format('woff2'),
         url('../fonts/made_evolve_sans_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansRegular';
    src: url('../fonts/made_evolve_sans_regular.woff2') format('woff2'),
         url('../fonts/made_evolve_sans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EvolveSansThin';
    src: url('../fonts/made_evolve_sans_thin.woff2') format('woff2'),
         url('../fonts/made_evolve_sans_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VarelaRound';
    src: url('../fonts/VarelaRound-Regular.woff2') format('woff2'),
         url('../fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg-main{ background-color: rgb(33, 33, 33); }
.bg-opaque{ background-color: rgba(43, 43, 43, 100); }
.bg-opaque-nh{ background-color: rgba(43, 43, 43, 100); }
.text-opaque{ color: rgba(73, 73, 73, 100); }
.letter-spacing-1{ letter-spacing: 1px; }
.h-100{ height: 100px; }

.landing-index{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 20rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: url("../img/web-opt/headers/code.gif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-photo{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: url("../img/web-opt/headers/waterfall.gif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-projects{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: url("../img/web-opt/headers/waterfall.gif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-projects-herb{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;

    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: linear-gradient(rgba(33,33,33,.9) 5%, rgba(0,0,0,0) 60%, rgba(33,33,33,.8) 80%, rgba(33,33,33,1) 100%), url("../img/web-opt/projects/herb/herb-horz.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-projects-ctrl{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;

    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: linear-gradient(rgba(33,33,33,.9) 5%, rgba(0,0,0,0) 60%, rgba(33,33,33,.8) 80%, rgba(33,33,33,1) 100%), url("../img/web-opt/projects/control panel/control panel.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-projects-tri{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;

    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    /* background: url("../img/web-opt/headers/triangle.gif");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover; */
}

.landing-projects-automated-pcb{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    padding-top: 41.5rem;

    background: url("https://lh3.googleusercontent.com/lhngkg9BS33d2pkxRrSGcjoDDzyYZ3CwS1_jIWcAc61U_P0mzZMCSkRwiuce83BqNRuRimoU1g5FfWk7i3ddB2rFg5hn_RTAlwZ3imqEDVkVU6ULev3R4_HZjqQvgJHitqhw4LJPfg=w2400");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;  
}

.landing-WIP{
    position: relative;
    width: 100%;
    min-height: 81vh;
    max-height: 81vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
    display: flex;
    
}

.nohover{
    pointer-events: none;
}

.hover-hash span{
    opacity: 0;
    color: #17a2b8;
}

table i {
    color: white;
}

table i:hover {
    color: #17a2b8;
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
}

.WIP {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
}

p {
    font-size: larger;
}

.text-link{
    text-decoration: none;
    color: grey;
}
.text-link:hover{
    text-decoration: none;
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
    color: #17a2b8;
}

.hover-hash:hover h1{
    color: white;
}

.hover-hash:hover span{
    opacity: 100;
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
}
.horz-line-footer{
    width: 15em;
    padding: 1px;
    background: white;
}
.hr{
    min-width: 80%; 
    max-width: 80%;
    color: white;
    background: white;
    padding: 1px;
}
.hr-p{
    min-width: 50%; 
    max-width: 50%;
    color: #17a2b8;
    background: #17a2b8;
    padding: 1px;
}
.scroll-down-bar{
    width: 15em;
    border-radius: 5px;
    background: rgb(136, 136, 136);
    position: relative;
    mix-blend-mode: multiply;
}

.t-92{
    position: absolute;
    top: 92.5%;
}

.logo-style{font-family: EvolveSansLight;}
.bg-orange{background-color: #fd7e14; color: rgba(0, 0, 0, 0);}

.navLink{font-family: EvolveSansLight; color: rgb(255, 255, 255);}

.border-none{border: none;}

.nav-link-style{font-family: EvolveSansLight; color: rgb(255, 255, 255);}

.text-opacity-0{color: rgba(0, 0, 0, 0);}

.tile-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.header-tile{
    font-family: EvolveSansLight;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
}

.evo-light{font-family: EvolveSanslight;}

.project-font{font-size: x-large;}

.bg-opaque:hover{
    background-color: rgb(50, 50, 50);
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
}

footer a{color: white;}
li a{color: white;}

footer a:hover{
    color: #17a2b8;
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
}

li a:hover{
    color: #17a2b8;
    transition-timing-function: ease-in-out; 
    transition-duration: 100ms;
    
}

.img-overlay{
    opacity: 75%;
}
